@tailwind base;
@tailwind components;
@tailwind utilities;

ul.flex.relative.bg-blue-gray-50.bg-opacity-60.rounded-lg.p-1.flex-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 367px) {
  ul.flex.relative.bg-blue-gray-50.bg-opacity-60.rounded-lg.p-1.flex-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 600px) {
  ul.flex.relative.bg-blue-gray-50.bg-opacity-60.rounded-lg.p-1.flex-row {
    grid-template-columns: repeat(4, 1fr);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}